.boxed {
  background: #e9dac1;
  border: 3px solid #999;
  font-size: 40px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  font-family: monospace;
}

h1 {
  font-family: monospace;
  font-size: 30px;
}

p {
  font-size: 20px;
  font-family: monospace;
}