<!doctype html>
<html>
 <body>
  <h1>Grid Cleanliness</h1>
  <p> Current Percentage of Load Served by Renewable Sources: {{current_percentage}}%</p>
  <div id='chart' class='chart'></div>

  <div id='chart2' class ='chart'></div>
</body>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
<script type='text/javascript'>
  var graphs = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs,{});
</script>
</html>